# Notion API Configuration
# Obtén tu clave secreta de integración de Notion en https://www.notion.so/my-integrations
NOTION_KEY=your_notion_integration_secret_here

# Versión de la API de Notion (Opcional, por defecto es 2022-06-28)
NOTION_VERSION=2022-06-28

# ID de la base de datos de Notion para Estudiantes (Students Database ID)
NOTION_DB_STUDENTS=your_database_id_for_students_here

# ID de la base de datos de Notion para Respuestas (Answers Database ID)
NOTION_DB_ANSWERS=your_database_id_for_answers_here
